.container{
    display: grid;
    place-items: center;

}
.contact_wrapper{
    width: fit-content;
    display: flex;
    gap:2rem;
}
.contact_wrapper a{
    background: var(--color-primary);
    font-size: 2rem;
    border: 2px solid transparent;
    transition: var(--transition);
    padding: 1rem;
    border-radius: 1.3rem;
}
.contact_wrapper a:hover{
    background: transparent !important;;
    border-color: var(--color-gray-100);
}

/*#####MEDIA QUERIES**/

@media screen and (max-width:600px){
    .contact_wrapper{
        gap:1.rem
    }
    .contact_wrapper a {
        padding: 1rem;
        font-size: 1.2rem;
        border-radius: 1rem;
    }

    
}